<li>
    <p>
        {{dataValues.id}}. {{dataValues.burger_name}}        

        {{!-- <button type="button" class="btn btn-warning devour-burger" data-id="{{dataValues.id}}" data-devour="{{devour}}"> --}}
            {{#if devour}}
                <button type="button" class="btn btn-info devour-burger" data-id="{{dataValues.id}}" data-devour="{{devour}}">
                    Devour!
                </button>
            {{else}}
                <button type="button" class="btn btn-warning devour-burger" data-id="{{dataValues.id}}" data-devour="{{devour}}">
                    Order Again!
                </button>
                
            {{/if}}
    </p>
</li>


 